# Database configuration for Docker
POSTGRES_USER=postgres
POSTGRES_PASSWORD=password
POSTGRES_DB=echo_shazam

# Used for standard local connections
DATABASE_URL=postgresql://postgres:password@localhost:5432/echo_shazam
